.BMheaderText {
    font-size: 8vw;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 0.5vw;
    margin-left: 2vw;
    margin-bottom: 0vw;
    color:  rgb(212, 175, 106);
    display: inline-block;
  } 