.bookImage1 {
  width: 15vw;
  height: 18vw;
  align-items: center;
  border-radius: 4%;
  margin-left: 2vw;
  transform: translate(10%,0%);
  position: block;
  z-index: 300;
}

.leaderboard-container {
  width: 30vw;
  height: 47vw;
  color: white;
  border: solid;
  border-color: rgb(114, 83, 54);
  border-width: 0.4vw;
  /* align-items: center; */
  margin-left: 2vw;
  /* margin-right: 50%; */
  margin-top: 3vw;
  display: inline-block;
  border-radius: 4%;
  background-color: rgb(212, 175, 106);
  transition: all .1s ease-in-out;
  cursor: pointer;

}

.leaderboard-container:hover {
  transform: scale(1.1);
}

.homePageTitles1 {
  font-size: 2vw;
  align-self: center;
  color: black;
  margin-left: 0.5vw;
  width: fit-content;

}

.homePageText1 {
  font-size: 1.2vw;
  align-items: center;
  color: black;
  margin-left: 0.5vw;
  width: fit-content;
}

.RankStar {
  width: fit-content;
  position: absolute;
  margin-left: 3vw;
  margin-bottom: 3vw;
}

.div{
  position: flex;
}

.rank {
  background-color: rgb(255, 217, 0);
  border: solid;
  border-radius: 3vw;
  padding: 1vw;
  position: block;
  color: black;
  margin-left: -2vw;
  margin-bottom: 3vw;
  
}